[Logger]
#Enable usk logging
USK=false

[Global]
#Supported values : 0 for Morpho, 1 for NFIQ-2, 2 for Hybrid
#Concerning "Hybrid" quality mode, the image will be considered "GOOD" if it is for both "Morpho" and "NFIQ-2" quality modes
QualityMode=1

#Quality thresholds for "Flat" and "Rolled" fingerprints for Morpho and NFIQ-2 modes
#Positions are defined from 1 (Right hand thumb finger) to 10 (Left hand little finger)


[Slap]
Treshold=5

[Morpho-Flat]
Pos1=30
Pos2=30
Pos3=30
Pos4=30
Pos5=10
Pos6=30
Pos7=30
Pos8=30
Pos9=30
Pos10=10

[Morpho-Rolled]
Pos1=60
Pos2=60
Pos3=60
Pos4=60
Pos5=38
Pos6=60
Pos7=60
Pos8=60
Pos9=60
Pos10=38


[NFIQ2-Flat]
Pos1=5
Pos2=5
Pos3=5
Pos4=5
Pos5=0
Pos6=5
Pos7=5
Pos8=5
Pos9=5
Pos10=0

[NFIQ2-Rolled]
Pos1=5
Pos2=5
Pos3=5
Pos4=5
Pos5=0
Pos6=5
Pos7=5
Pos8=5
Pos9=5
Pos10=0

[Face]
MinWidth=600
MinHeight=800
MaxWidth=1200
MaxHeight=1600
BiometricThreshold=25
MinEyesDistance=120
BioQualityEnabled=1