##############  USK CONFIGURATION PARAMETERS #################
# QCT configuration file for USK
# Copyright 2021 IDEMIA 
# All rights reserved
# Author: IDEMIA
# Distribution: Restricted

# File version :
version=2.0

#  Logging :
[Logger]

#Enable usk logs:  True: logs are generated, False: No logs
# Default value: false 
USK=false

#  Global parameters :
[Global]

#   FINGERPRINT Quality algorithm parameters 
# MODE : Proprietary=Morpho, Standard=NFIQ-2 (EES required)
# Supported values : 0 for Morpho, 1 for NFIQ-2, 2 for Hybrid
# Concerning "Hybrid" quality algorithm, the image will be
#  considered as "GOOD" if it is "ACCEPTABLE" for both 
#  "Morpho" and "NFIQ-2" quality modes
# Default value = NFIQ-2
QualityMode=1

# Quality thresholds for "Flat" and "Rolled" fingerprints for
#  Morpho and NFIQ-2 modes
# Positions are defined from 1(Right hand thumb finger) to 
#  10 (Left hand little finger)

# EES flat 4FP record Combined Quality threshold 
# Default value (minimum value used on sBMS) = 5
[Slap]
CombinedThreshold=5

# VIS flat 10 FP record Combined Quality threshold  
# VIS strategy option: 
# Supported Values: OverallQuality=0 for using VIS strategy;
# OveralQuality=1 for using Combined quality measure (default)
[Kit4Plus]
OverallQuality=1

# Combined Quality Threshold if OverallQuality=1 is used
# Default Combined Quality Threshold = 15 
OverallQualityThreshold=15

# Flat captures threshold quality default values for Morpho
# algorithm per finger: used in Kit1 and kit4 for VIS captures
[Morpho-Flat]
Pos1=30
Pos2=30
Pos3=30
Pos4=30
Pos5=10
Pos6=30
Pos7=30
Pos8=30
Pos9=30
Pos10=10

# Rolled captures threshold quality default values for Morpho
# algorithm per finger: used in kit4 for VIS captures
[Morpho-Rolled]
Pos1=60
Pos2=60
Pos3=60
Pos4=60
Pos5=38
Pos6=60
Pos7=60
Pos8=60
Pos9=60
Pos10=38

#  Flat captures threshold quality default values for NFIQ-2 
#  algorithm: to be used in Kit1 and kit4 for EES captures
[NFIQ2-Flat]
Pos1=15
Pos2=15
Pos3=15
Pos4=15
Pos5=0
Pos6=15
Pos7=15
Pos8=15
Pos9=15
Pos10=0

#  Rolled captures threshold quality default values for NFIQ-2 
#  algorithm: to be used in Kit1 and kit4 for EES captures
[NFIQ2-Rolled]
Pos1=15
Pos2=15
Pos3=15
Pos4=15
Pos5=0
Pos6=15
Pos7=15
Pos8=15
Pos9=15
Pos10=0

#   FACIAL IMAGE CHECK PARAMETERS
[Face]
### Facial image size control for EES images (default values)
MinWidth=600
MinHeight=800
MaxWidth=1200
MaxHeight=1600

# Facial Image Quality score threshold 
# Default value is 26 meaning FI quality score should be >=26
BiometricThreshold=26

# Facial Image Inter-Eyes Distance minimum value 
MinEyesDistance=120

#Biometric Quality Check
BioQualityEnabled=1

### Facial image size control for VIS images (replace default)
#MinWidth=128
#MinHeight=128
#MaxWidth=1200
#MaxHeight=1600

#Facial Image Quality score threshold
#Default value is 26 meaning FI quality score should be >=26
#BiometricThreshold=26

#Facial Image Inter-Eyes Distance minimum value for VIS images 
#MinEyesDistance=90

#Biometric Quality Check
#BioQualityEnabled=0

